# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
web/vendor/
web/css/default.css
web/css/site.css
checklist.txt
controllers/phpprotect_obfuscated
controllers/phpprotect_obfuscated/*
Будет удалено web/import/
Будет удалено checklist.txt
