@import "default";

input[type=number]{
  width: 100px;
  &::-webkit-inner-spin-button{
    opacity: 1;
  }
}
.row{
  .product_view{
    height:350px;
  }
}
.basket{
  table{

    .glyphicon-remove{
      font-size: 16px;
      color:#d82b31;
    }
  }
}